@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a
{
  outline: none;
}
:focus
{
  -moz-outline-style: none;
}


body{
	/*font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 1.4;
}

/*code example -------------*/
.nt{
	color: #2f6f9f;
}
.na{
	color: #4f9fcf;
}
.s{
	color: #d44950;
}

.preTag{
	white-space: pre-line;
    background-color: #f7f7f9;
    margin: 20px -20px -20px -20px;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    border:1px solid #dddddd;
    border-width: 1px 0px 0px;
}


/*.highlight{
	margin: 0px -20px -20px;
	background-color: #f7f7f9;
	border:1px solid #dddddd;
	text-align: left;
	padding: 20px 0px 0px;
	border-width: 1px 0px 0px;
	border-radius: 0px 0px 5px 5px;
}*/
/* example  -----------------------------------------------------------------*/

.fullExample{
	margin: 10px auto;
	padding: 40px 20px 20px;
	border:1px solid #dddddd;
	border-radius: 5px;
	width: 900px;
	position: relative;
}

.fullExample:after{
	position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}

.fullExample table td{
	padding: 15px 0;
	border: 1px solid #eeeeee;
	border-width: 1px 0px 0px;
}

.fullExample p{
	margin: 0px 0px 5px 0px;
	padding: 5px 0px;
}

/* float -----------------------------------------------------------------*/

.fl{
	float: left;
}

.fr{
	float: right;
}

.clearBoth{
	clear: both;
}

*{
	box-sizing: border-box;
}

.inlineBlock{
	display: inline-block;
}


/* Typography  -----------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6{
	margin: 20px 0px 15px 0px;
	font-weight: 300;
}

h1{
	font-size: 36px;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 18px;
}

h5{
	font-size: 14px;
}

h6{
	font-size: 12px;
}


/* text style -----------------------------------------------------------------*/

.txt-left{
	text-align: left;
}

.txt-right{
	text-align: right;
}

.txt-center{
	text-align: center;
}

.txt-justify{
	text-align: justify;
}

.txt-lowercase{
	text-transform: lowercase;
}

.txt-uppercase{
	text-transform: uppercase;
}

.txt-capitalize{
	text-transform: capitalize;
}

.txt-breakWord{
	word-break: break-word;
}


/* fonts -----------------------------------------------------------------*/

p{
	line-height: 1.4;
}

small{
	font-size: 85%;
}

strong{
	font-weight: 700;
}

a{
	color: #000000;
}


/* unorder and order list style -----------------------------------------------------------------*/

ul.ul-disc{
	list-style: disc;
}

ul.ul-circle{
	list-style: circle;
}

ul.ul-order{
	list-style: decimal;
}

ul.ul-listNone{
	list-style: none;
}


/* error bg color style -----------------------------------------------------------------*/

.primaryBg{
	background-color: #337ab7;
	color: #ffffff;
	padding: 5px !important;
}

.successBg{
	background-color: #dff0d8;
	padding: 5px !important;
}

.infoBg{
	background-color: #d9edf7;
	padding: 5px !important;
}

.warningBg{
	background-color: #fcf8e3;
	padding: 5px !important;
}

.dangerBg{
	background-color: #f2dede;
	padding: 5px !important;
}

.PrimaryTxt{
	color: #777777;
}

.SuccessTxt{
	color: #3c763d;
}
.InfotTxt{
	color: #31708f;
}
.WarningTxt{
	color: #8a6d3b;
}
.dangerTxt{
	color: #a94442;
}

/* checkbox  style -----------------------------------------------------------------*/

/*.checkBox, .radioBtn{
	position: relative;
	display: block;
	margin: 10px 0px;
}

.checkBox label, .radioBtn label{
	margin: 10px 0px;
	padding: 0px 0px 0px 20px;
	cursor: pointer;
}

.checkBox input[type=checkbox],
.radioBtn input[type=radio]{
	margin: 3px 0px 0px -20px;
	position: absolute;
}
*/

/* textarea  style -----------------------------------------------------------------*/

.noResize{
	resize: none;
}


/* form Inline style -----------------------------------------------------------------*/

.formInline .formGroup,
.formInline .formControl,
.formInline .checkBox{
	display: inline-block;
	width: auto;
}


/* form group style -----------------------------------------------------------------*/

.formGroup{
	margin: 0px 0px 15px;
	position: relative;
}

.formGroup label{
	display: inline-block;
	max-width: 100%;
	margin: 0px 0px 5px;
	font-weight: 400;
}

.hasSuccess label{
	color: #3c763d;
}

.hasSuccess .formControl{
	border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.hasSuccess .formControl:focus{
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
}

.hasSuccess span{
	color: #3c763d;
	margin: 5px 0px 0px;
	display: inherit;
}

.error label{
	color: #a94442;
}

.error .formControl{
	border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.error .formControl:focus{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.error span{
	color: #a94442;
	margin: 5px 0px 0px;
	display: inherit;
}

.warning label{
	color: #8a6d3b;
}

.warning .formControl{
	border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.warning .formControl:focus{
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;
}

.warning span{
	color: #8a6d3b;
	margin: 5px 0px 0px;
	display: inherit;
}


/* form Control style -----------------------------------------------------------------*/

.formControl{
	display: block;
	width: 100%;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.4;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border:1px solid #cccccc;

	border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.formControl:focus{
	border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.formControl[disabled]{
	cursor: not-allowed;
	background-color: #eeeeee;
}


/* floating label style -----------------------------------------------------------------*/
.floatingLabel {
	position: relative;
}

.floatingLabel input + label,
.floatingLabel textarea + label,
.floatingLabel select + label {
	padding: 0px 5px;

	top: 10px;
	left:5px;

	position: absolute;

	font-size: 13px;
	color: #cccccc;

	opacity: 0;
	transition: top 0.3s ease, opacity 0.3s ease;

	background-color: #ffffff;
	/*visibility: hidden;*/

}

.floatingLabel input:valid + label,
.floatingLabel textarea:valid + label,
.floatingLabel select:focus + label {
	visibility: visible;
	top: -10px;
	opacity: 1;
	color: #000000;

}

/*.floatingLabel input:focus + label,
.floatingLabel textarea:focus + label {
  color: #2c8efe;
}*/



/* Button style -----------------------------------------------------------------*/
.btn{
	padding: 6px 12px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-size: 13px;

	-webkit-transition: background-color  0.3s;
    -moz-transition: background-color  0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.btn-lg{
	padding: 10px 16px;
    font-size: 18px;
}

.btn-s{
	padding: 5px 10px;
    font-size: 12px;
}

.btn-xs{
	padding: 1px 5px;
    font-size: 12px;
}

.btnWrap{
	margin: 10px 0px;
}

.btnBlock{
	display: block;
	width: 100%;
	margin: 0px 0px 10px 0px;
}

.btnDefault{
	background-color: #ffffff;
}

.btnDefault:hover{
	background-color: #e6e6e6;
    border-color: #adadad;
}



.btnPrimary{
	color: #ffffff;
	background-color: #337ab7;
    border-color: #2e6da4;
}

.btnPrimary:hover{
	background-color: #286090;
    border-color: #204d74;
}



.btnSuccess{
	color: #ffffff;
	background-color: #5cb85c;
    border-color: #4cae4c;
}

.btnSuccess:hover{
	background-color: #449d44;
    border-color: #398439;
}



.btnInfo{
	color: #ffffff;
	background-color: #5bc0de;
    border-color: #46b8da;
}

.btnInfo:hover{
	background-color: #31b0d5;
    border-color: #269abc;
}



.btnWarning{
	color: #ffffff;
	background-color: #f0ad4e;
    border-color: #eea236;
}

.btnWarning:hover{
	background-color: #ec971f;
    border-color: #d58512;
}



.btnDanger{
	color: #ffffff;
	background-color: #d9534f;
    border-color: #d43f3a;
}

.btnDanger:hover{
	background-color: #c9302c;
    border-color: #ac2925;
}



.btnLink{
	color: #000000;
	background-color: transparent;
    border-color: transparent;
}



/* entities icon style -----------------------------------------------------------------*/
.entitiesWrap code{
	font-size: 30px;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #cccccc;
	margin: 5px;
	float: left;
}



/* txt with Arrow icon style -----------------------------------------------------------------*/
.txtArrowWrap a{
	margin: 15px 0px;
}
.txtArrow{
	position: relative;
	background-color: #000000;
	display: inline-block;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #000000;
	opacity: 0.8;
}

.txtArrow:after{
	position: absolute;
    content: ' ';
    width: 0;
    height: 0;
}

.txtRightArrow:after{
	top: 50%;
    left: 100%;
    margin-top: -10px;

    border-left: 10px solid #000000;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}

.txtLeftArrow:after{
	top: 50%;
    right: 100%;
    margin-top: -10px;

    border-left: 10px solid transparent;
    border-right: 10px solid #000000;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}

.txtTopArrow:after{
	right: 50%;
    bottom: 100%;
    margin-right: -10px;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000000;
    border-top: 10px solid transparent;
}

.txtBottomArrow:after{
	right: 50%;
    top: 100%;
    margin-right: -10px;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid #000000;
}



/* Custome dropdown style -----------------------------------------------------------------*/
.dropDown select{
	-webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    /*background: #ffffff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_drop_down_48px-128.png') no-repeat right center;*/
    background-size: 22px;
    */color: #555555;
    letter-spacing: 0.5px;
    padding-right: 25px;
}




/* csDropdown style -----------------------------------------------------------------*/
.csDropdown{
    position: relative;
}

.csDropdown .selected{
	padding-right: 25px;
    text-decoration: none;
    border-radius: 4px;
    /*background: #ffffff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_drop_down_48px-128.png') no-repeat right center;*/
    /*background-size: 22px;*/
}

.csDropdown ul{
    display:none;

    position:absolute; 
    left:0px; 
    top:102%;

    width: 100%;

    border:1px solid #cccccc;
    border-radius: 4px;
    z-index: 1;
}

.csDropdown ul li a{
    display:block;

    padding:5px 10px; 

    text-decoration:none;
    background-color: #ffffff;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.csDropdown ul li a:first-child{
    border-radius: 4px 4px 0px 0px;
}

.csDropdown ul li a:last-child{
    border-radius: 0px 0px 4px 4px;
}

.csDropdown ul li a:hover{
    background:#ededed;
    transition:0.2s ease;
}



/* tootltip style -----------------------------------------------------------------*/

.tipsy { 
	padding: 5px; 
	font-size: 11px; 
	position: absolute; 
	z-index: 9999; 
	line-height:15px; 
	top:20px;
}

.tipsy-inner { 
	padding: 5px 10px;
	background-color: #000000;
	text-align: center;	
	color: white; 
	font-size: 13px;	 
	
}

.tipsy-arrow { 
	position: absolute; 
	background: url(../images/tipsy.gif) no-repeat top left; 
	width: 9px; 
	height: 5px;  
}

.tipsy-n .tipsy-arrow { 
	top: 0; 
	left: 50%;
	margin-left: -4px; 
}

.tipsy-nw .tipsy-arrow { 
	top: 0;
	left: 10px; 
}

.tipsy-ne .tipsy-arrow { 
	top: 0;
	right: 10px;
}

.tipsy-s .tipsy-arrow { 
	bottom: 0; 
	left: 50%; 
	margin-left: -4px; 
	background-position: bottom left; 
}

.tipsy-sw .tipsy-arrow { 
	bottom: 0; 
	left: 10px; 
	background-position: bottom left; 
}

.tipsy-se .tipsy-arrow { 
	bottom: 0; 
	right: 10px; 
	background-position: bottom left; 
}

.tipsy-e .tipsy-arrow { 
	top: 50%; 
	margin-top: -4px; 
	right: 0; 
	width: 5px; 
	height: 9px; 
	background-position: top right; 
}

.tipsy-w .tipsy-arrow { 
	top: 50%; 
	margin-top: -4px; 
	left: 0; 
	width: 5px; 
	height: 9px; 
}



/* Star Rating style -----------------------------------------------------------------*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  display: inline-block;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 




/* accordian menu style coding here -----------------------------------------------------------------*/

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 10px;
  color: #4D4D4D;
  font-size: 14px;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 10px;
}

.accordion li.open .link:before /*i.fa-chevron-down*/ {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.submenu {
  display: none;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #cccccc; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #4D4D4D;
  padding: 10px;
  padding-left: 10px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}



/* breadcrumb style coding here -----------------------------------------------------------------*/
.breadcrumb li{
	display: inline-block;
}

.breadcrumb li a{
	text-decoration: none;
}

.breadcrumb li:last-child a{
	cursor: default;
	color: #666;
    pointer-events: none;
}

.breadcrumb li:not(:last-child)::after{
	color: #c5c5c5;
    content: "/";
    padding: 0 5px 0px 8px;
}




/* pagination style coding here -----------------------------------------------------------------*/
.pagination li{
	display: inline-block;
}

.pagination li a{
	padding: 3px 8px;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid transparent;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.pagination li a:hover{
	background-color: #f2f2f2;
	border: 1px solid #cccccc;
}

.pagination li.active a{
	background-color: #cccccc;	
	border: 1px solid #cccccc;
}




/* switch style coding here -----------------------------------------------------------------*/
.switch label{
	padding: 0px 0px 0px 40px;
    position: relative;
    display: inline-block;
    line-height: 20px;
}

.switch input{
	clip: rect(0, 0, 0, 0);
	height: 5px;
	margin: 0px;
	overflow: hidden;
	position: absolute;
	width: 5px;
}

.switch i{
	position: absolute;
	background: #cccccc;
    background-clip: padding-box;
    width: 35px;
    height: 20px;
    border-radius: 50px;
    left: 0px;
    cursor: pointer;
}

.switch i:after{
	content: "";
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 100%;
    margin: 2px 0px 0px 2px;
    -webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.switch input:checked + i::after{
	margin: 2px 0px 0px 17px;
}

.switch input:checked + i{
	background: #4ed164;
}




/* checkbox custome style coding here -----------------------------------------------------------------*/
.checkbox label{
	display: inline-block;
    position: relative;
    padding: 0px 0px 0px 25px;
    cursor: pointer;
    line-height: 20px;
}
.checkbox input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox i{
	position: absolute;
    top: 1px;
    left: 3px;
    height: 16px;
    width: 16px;
    border:1px solid #cccccc;
    border-radius: 2px;
}

/*.checkbox input:checked ~ i{
	border:1px solid #3b99fc;
	background-color: #3b99fc;
}*/

.checkbox input:checked ~ i:after{
	display: block
}

.checkbox i:after{
	content: '';
    position: absolute;
	left: 5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid #4ed164;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

/* radio custome style coding here -----------------------------------------------------------------*/
.radio, .checkbox, .switch{
	margin: 10px 0px;
}
.radio label{
	display: inline-block;
    position: relative;
    padding: 0px 0px 0px 25px;
    cursor: pointer;
    line-height: 20px;
}
.radio input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio i{
	position: absolute;
    top: 1px;
    left: 3px;
    height: 16px;
    width: 16px;
    border:1px solid #cccccc;
    border-radius: 2px;
    border-radius: 50%;
}

.radio input:checked ~ i{
	background-color: #4ed164;
	border:1px solid #4ed164;
}
.radio input:checked ~ i:after{
	display: block
}

.radio i:after{
	content: '';
    position: absolute;
	left: 4px;
    top: 4px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:#ffffff;
    display: none;
}




/* loading custome style coding here -----------------------------------------------------------------*/
/**, *::before, *::after {
    box-sizing: inherit;
}*/

.loading {
  height: 18px;
  width: 18px;
  animation: rotate 0.8s infinite linear;
  border: 2px dotted #000000;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* date picker custome style coding here -----------------------------------------------------------------*/
.datepicker-here{
	width: 113px;
}




.csDropdown .selected:before, .dropDown.floatingLabel:before, .dropDown:before, .accordion .link:before{
	position: absolute;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 2px solid black;
    border-top: 2px solid black;
    transform: rotate(134deg);
    right: 11px;
    top: 35px;
    opacity: 0.3;
}

.dropDown.floatingLabel:before, .formInline .formGroup.dropDown:before{ 
	top: 11px !important;
	background: none !important;
}

.accordion .link:before{
	top: 16px !important;
    background: none !important;
    right: 14px !important;
}




/* arrow custome style coding here -----------------------------------------------------------------*/
.arrow{
	position: relative;
}
.arrow:before{
	/*position: relative;*/
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 2px solid black;
    border-top: 2px solid black;
    right: 11px;
    top: 35px;
    opacity: 0.3;
}

.downArrow:before{
	transform: rotate(134deg);
}

.upArrow:before{
	transform: rotate(-46deg);
}

.leftArrow:before{
	transform: rotate(227deg);
}

.rightArrow:before{
	transform: rotate(44deg);
}




/* modalsBox custome style coding here -----------------------------------------------------------------*/
.modalsBox{
	position: relative;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 5px 0px #f0f0f0;
	-moz-box-shadow: 0px 0px 5px 0px #f0f0f0;
	box-shadow: 0px 0px 5px 0px #f0f0f0;
}

.modalsBox-close{
	position: absolute;
    right: 10px;
    top: 2px;
    font-size: 23px;
    font-weight: lighter;
    opacity: 0.1;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.modalsBox-close:hover{
	opacity: 0.6;
}



/* blockquote custome style coding here -----------------------------------------------------------------*/
.blockquote-l{
	border-left: 2px solid #ddd;
    margin-left: 0;
    padding: 1rem 2rem;
    text-align: left;
}

.blockquote-r{
	border-right: 2px solid #ddd;
    margin-right: 0;
    padding: 1rem 2rem;
    text-align: right;
}

blockquote cite{
	color:#b3b3b3;
}